@font-face{
    font-family: inter;
    src: url('../../../../assets/fonts/Inter-VariableFont_opsz\,wght.ttf')
}
@font-face{
    font-family: poppins;
    src: url('../../../../assets/fonts/Montserrat-Regular.ttf');
}
.con{
    font-family: inter;
}
textarea{
    font-family: inter;
}
.con-temp{
    width: 100%;
    display: flex;
    position: relative;
    background-color: #212d59;
    font-family: inter;
}
.main-temp{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px 50px;
    background-color: white;
    font-family: inter;
}
.side{
    display: flex;
    flex-direction: column;
    width: 90px;
    background-color: #212d59;
    padding: 30px;
    align-items: center;
    gap: 30px;
    height: 100vh;
}
.above{
    display: flex;
    height: fit-content;
    width: 100%;
    display: none;
    justify-content: center;
    padding-top: 50px;
}
.step{
    display: flex;
    align-items: center;
}
.step:last-child span{
    display: none;
}
.above .sect{
    background-color: #212d59;
    border: 2px solid black;

}
.above span{
    height: 2px;
    width: 80px;
    background-color: black;
}
.above .com{
    background-color: rgb(75, 188, 75);
}
.sect{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: white;
    border: 3px solid white;
}
.com{
    background-color: rgb(75, 188, 75);
}
.detForm{
    width: 60%;
}
.first-part{
    width: 100%;
    /* padding-bottom: 20px; */
}
.first-part .header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}
.first-part .header h1{
    font-size: 30px;
    padding: 0px;
    padding-right: 50px;
}
.header p{
    padding: 0px;
    font-size: 18px;
}
.add-photo{
    display: flex;
    gap: 30px;
    padding-top: 30px;
    align-items: center;
}
button{
    font-family: inter;
}
.inimg{
    padding: 60px;
    background-image: url('/src/assets/images/user-solid\ \(2\).svg');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 100px;
    background-color: rgb(160, 160, 160);
}
.add-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.add-text .photo-add{
    padding: 10px 30px;
    border-radius: 30px;
    width: fit-content;
    border: 1px solid black;
}
.add-text p{
    font-size: 18px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    width: 100%;
    
}
.flex{
    display: flex;
    gap: 30px;
    width: 100%;
}
.name{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.skill{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.delete{
    background-color: white;
    border: none;
    /* border-radius: 100%;
    height: 25px;
    width: 25px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.name label{
    font-size: 12px;
}
.name input{
    width: 100%;
    padding: 13px 13px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    /* background-color: rgba(204, 196, 196, 0.942); */
    /* background-color: #F5F5F5; */
    background-color: #f8f8f8;
    border: 1px solid grey;
    font-family: inter;
    /* overflow: clip;     */
}
.name input:focus{
    /* border: none;
    outline: none; */
    font-size: 15px;
}
.name .errorMsg{
    color: red;
    font-size: 13px;
    
}
.default{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -20px;
    right: 0px;
}
.quote{
    width: 200px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    z-index: 20;
    margin-top: 50px;
    font-size: 14px;
    font-family: inter;
    font-weight: 300;
}
.quote-t{
    height: 30px;
    width: 30px;
    background-color: blue;
    transform: rotate(135deg);
    z-index: 15;
    position: relative;
    bottom: 20px;
    border-radius: 3px;
    background-color: whitesmoke;
}
.photo{
    width: 33%;
    font-family: poppins;
}
.temp-des{
    display: flex;
    background-color: white;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
    /* bottom: 20px; */

}
.temp-des p{
    font-size: 9px;
}
.temp-des .yName{
    font-size: 17px;
}
.temp-des h6{
    font-size: 11px;
}

.side-in{
    padding: 10px;
    background-color: rgb(138, 212, 255);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.main-in{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px 20px 60px;
}
.header-in{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.summary{
    display: flex;
    gap: 20px;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    overflow: hidden;
    max-width: 60%;
    
}
.right{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 40%;
    flex: 1;
    object-fit: contain;
    overflow: hidden;
    
}
.contact{
    background-color: rgb(138, 212, 255);
    padding: 8px;
}
.contact p{
    display: flex;
    gap: 5px;
    align-items: center;
}
.contact .non{
    padding-top: 3px;
}
.skills p{
    margin-top: 2px;
}
.education p{
    margin-top: 2px;
}
.work p{
    margin-top: 3px;
}
.title2 p{
    margin-top: 3px;
}
select{
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background-color: whitesmoke;
    border: 1px solid black;
}
.select:focus{
    font-size: 15px;
    border: 0px;
    outline: 0px;
}
option{
    background-color: white;
    border-radius: 5px;
}
select option:checked{
    background-color: white;
}
.roles{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.roles .name{
    gap: 20px;
}
.buttons-continue{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 50px;
}
.continue{
    padding: 13px 50px;
    border-radius: 30px;
    width: fit-content;
    color: black;
    text-decoration: none;
    border: none;
    background-color: inherit;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: rgb(72, 105, 226);
}
.addex{
    padding: 10px 40px;
    border-radius: 30px;
    width: fit-content;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    background-color: inherit;
    font-size: 16px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.add-skills{
    padding: 10px 40px;
    border-radius: 30px;
    width: fit-content;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    background-color: inherit;
    font-size: 16px;
    height: fit-content;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
textarea{
    padding: 10px 13px;
    height: 270px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 1px solid black;
}

.overview{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 20px;
    background-color: rgba(0, 0, 0, 0.208);
    backdrop-filter: blur(10px);
    padding: 0px 0px 50px 0px;
    width: 100%;
}
.removeOv{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
}
