.viewResume{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 70px;   
}
.viewResume h1{
    font-size: 35px;
}
.over{
    width: 48%;
}
.over p{
    font-size: 16px;
}
.over h6{
    font-size: 16px;
}
.over .yName{
    font-size: 25px;
}
.over .left{
    gap: 25px;
}
.over .right{
    gap: 25px;
}
.over .main-in{
    padding: 30px 30px 80px;
    /* min-height: 100vh; */
}
.over .summary{
    padding-top: 15px;
}