.con{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.about{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px 250px 0px;
    font-family: sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.info{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.info h1{
    font-size: 54px;
    line-height: 64px;
    font-weight: 900;
}
.info p{
    font-size: 20px;
    line-height: 30px;
    width: 80%;
    padding-top: 30px;
}
.info a{
    margin-top: 70px;
    text-decoration: none;
    cursor: pointer;
}
.info button{
    
    padding: 18px 50px;
    background-color: rgb(72, 105, 226);
    color: white;
    width: fit-content;
    border: none;
    line-height: 19px;
    border-radius: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pic{
    width: 40%;
    position: relative;
    height: 100%;
}
.pic .resume{
    position: absolute;
    top: 10%;
    height: 100%;
    left: 30%;
    z-index: 1;
}
.pic .profile{
    position: absolute;
    z-index: 2;
    height: 200px;
    top: 70%;
    left: 78%;
}
.pic .shadow{
    height: 400px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.175);
    filter: blur(10px);
    /* background-image: linear-gradient(to right, rgba(131, 131, 216, 0.208), rgba(146, 146, 239, 0.17)); */

}

.info button{
    
    padding: 18px 50px;
    background-color: rgb(72, 105, 226);
    color: white;
    width: fit-content;
    border: none;
    line-height: 19px;
    border-radius: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.see-temp{
    padding: 250px 250px 70px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}
.see-temp h1{
    font-size: 45px;
}
.temp-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* background-color: blue; */
    max-width: 100%;
}
.temp-grid div{
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.temp-grid img{
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
}
.temp-grid img:hover{
    scale: 1.05;
    transition: 1.7s ease;
}
.use{
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(72, 105, 226);
    text-decoration: none;
    color: black;
    width: fit-content;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}
.how-to{
    padding: 50px 250px;
    background-color: #fafbfc;
}
.how-to h1{
    font-size: 45px;
}
.how-to > p{
    font-size: 22px;
    padding-top: 10px;
}
.steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.steps a{
    padding: 18px 50px;
    background-color: rgb(72, 105, 226);
    color: white;
    width: fit-content;
    border: none;
    line-height: 19px;
    border-radius: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
    padding-top: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.112);
    padding: 20px;
}
.card img{
    color: brown;
    font-size: 40px;
    height: 80px;
    width: 100px;
}
.card .blue{
    color: blue;
}
.card .yellow{
    color: rgb(153, 153, 3);
}
.card .green{
    color: green;
}
.card p{
    font-size: 17px;
}
.start-now{
    padding: 100px 250px;
}
.inner-div{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(72, 105, 226);
    color: white;
    border-radius: 10px;
}
.inner-div div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.inner-div h1{
    font-size: 40px;
}
.inner-div p{
    font-size: 20px;
}
.inner-div a{
    padding: 18px 50px;
    color: rgb(43, 43, 43);
    background-color: white;
    width: fit-content;
    border: none;
    line-height: 19px;
    border-radius: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
}
.footer{
    padding: 100px 250px;
    background-color: #fafbfc;
}
.foot1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #aaaa;
}
.socails{
    display: flex;
    gap: 15px;
    align-items: center;
}
/* .socails span{
    background-color: white;
    padding: 0;
} */
.socails span svg{
    height: 20px;
    fill: grey;
    background-color: white;
    padding: 0px;
}
.face{
    border-radius: 100%;
}
.face:hover{
    fill: blue;
}
.socails .l-in, .twitter{
    border-radius: 5px;
}
.twitter:hover{
    fill: black;
}
.y-tube{
    border-radius: 5px;
}
.tiktok{
    border-radius: 5px;
}
.tiktok:hover{
    fill: black;
}
.y-tube:hover{
    fill: red;
}
.l-in:hover{
    fill: rgba(0, 0, 221, 0.716);
}
.foot2{
    padding-top: 50px;
}
