@font-face{
    font-family: poppins;
    src: url('../../assets/fonts/Montserrat-Regular.ttf');
}
@font-face{
    font-family: inter;
    src: url('../../../src/assets/fonts/Inter-VariableFont_opsz\,wght.ttf');
}
.rev-con{
    width: 100%;
    padding: 80px 150px 50px;
    background-color: #121a38;
    display: flex;
    gap: 30px;
    align-items: start;
    font-family: inter;
    
}
.revphoto{
    width: 53%;
    font-family: poppins;
    min-height: 100vh;
}
.revtemp-des{
    display: flex;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    min-height: 100vh;
}
.revtemp-des p{
    font-size: 13px;
}
.revtemp-des .yName{
    font-size: 25px;
}
.revside-in{
    padding: 15px;
    background-color: rgb(138, 212, 255);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.revmain-in{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    width: 100%;
}
.revmain-in h6{
    font-size: 14px;
}
.revheader-in{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.revheader-in:hover{
    background-color: rgba(245, 245, 245, 0.271);
}
.revheader-in:hover .edit{
    visibility: visible;
}
.revsummary{
    display: flex;
    gap: 30px;
    padding-top: 15px;
    position: relative;
}
.revleft{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 60%;
    
}
.revright{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 40%;
}
.revcontact{
    background-color: rgb(138, 212, 255);
    padding: 10px;
    position: relative;
}

.revcontact:hover .edit{
    visibility: visible;
}
.revcontact:hover{
    background-color: rgba(245, 245, 245, 0.126);
}
.revwork:hover{
    background-color: rgba(245, 245, 245, 0.126);
}
.revwork:hover .edit{
    visibility: visible;
}
.revwork p{
    margin-top: 4px;
}
.revwork{
    position: relative;
}
.revtitle2{
    position: relative;
}
.revtitle2 p{
    margin-top: 4px;
}
.revtitle2:hover{
    background-color: rgba(245, 245, 245, 0.126); 
}
.revtitle2:hover .edit{
    visibility: visible;
}
.revcontact p{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 3px;
}
.revcontact p img{
    height: 15px;
}
.top{
    margin-top: 5px;
}
.revskills p{
    margin-top: 3px;
}
.revskills:hover{
    background-color: rgba(245, 245, 245, 0.126); 
}
.revskills:hover .edit{
    visibility: visible;
}
.revskills{
    position: relative;
}
.reveducation p{
    margin-top: 3px;
}
.reveducation:hover .edit{
    visibility: visible;
}
.reveducation:hover{
    background-color: rgba(245, 245, 245, 0.126); 
}
.reveducation{
    position: relative;
}
.rcertifications p{
    margin-top: 3px;
}
.rcertifications:hover{
    background-color: rgba(245, 245, 245, 0.126); 
}
.rcertifications:hover .edit{
    visibility: visible;
}
.rcertifications{
    position: relative;
}
.revprof{
    position: relative;
    height: auto;
    position: relative;
    
}
.revprof:hover{
    background-color: rgba(245, 245, 245, 0.126); 
}
.revprof:hover .edit{
    visibility: visible;
}
.edit{
    position: absolute;
    /* margin-top: 5px;
    margin-left: 270px; */
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    top: 3px;
    right: 3px;
}
/* .closer{
    margin-left: 170px;
} */

.preview{
    padding: 30px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 40%; */
}
.rev-buttons{
    display: flex;
    gap: 20px;
    width: 100%;
}
.download{
    width: max-content;
    background: inherit;
    border: none;
}
.download .downLink{
    padding: 10px 20px;
    width: max-content;
    color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    background-color: black;
    display: flex;
    gap: 5px;
}
.temp-rev{
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding: 20px;
}
.temps-grid{
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    row-gap: 20px;
    height: 500px;
    overflow: scroll scroll;
}
.temps-grid::-webkit-scrollbar{
    display: none;
}
.temps-grid img{
    height: 250px;
}


