@media (max-width: 2000px){
    .main{
        padding: 100px;
    }
    .template-grid{
        grid-template-columns: repeat(3, auto);
    }
    .header h1{
        font-size: 40px;
    }
    .header a{
        font-size: 18px;
    }
}
@media (max-width: 1500px){
    .main{
        padding: 100px 50px;
    }
    
}
@media (max-width: 1420px){
    .template img{
        height: 500px;
    }
}

@media (max-width: 1400px) {
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .about{
        padding: 50px 200px 0px;
    }
    .see-temp{
        padding: 250px 200px 70px;
    }
    .how-to{
        padding: 50px 200px;
    }
    .start-now{
        padding: 100px 200px;
    }
    .footer{
        padding: 100px 200px;
    }
    .template img{
        height: 450px;
    }
    .rev-con{
        padding: 80px 100px 50px !important;
    }
    .rev-con .revphoto{
        width: 59%;
    }
    
}
@media (max-width: 1300px) {
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .about{
        padding: 50px 120px 0px;
    }
    .see-temp{
        padding: 250px 120px 70px;
    }
    .how-to{
        padding: 50px 120px;
    }
    .start-now{
        padding: 100px 120px;
    }
    .footer{
        padding: 100px 120px;
    }
    nav{
        padding: 20px 120px;
    }
    .template img{
        height: 410px;
    }
    .template-grid{
        gap: 40px;
    }
    .main{
        padding: 100px 80px;
    }
    .main-temp .detForm{
        width: 50% ;
    }
    .main-temp .photo{
        width: 40% ;
    }
    .rev-con {
        padding: 80px 80px 50px !important;
    }
    .rev-con .temps-grid img{
        height: 200px;
    }
}
@media (max-width: 1200px) {
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .about{
        padding: 50px 100px 0px;
    }
    .see-temp{
        padding: 250px 100px 70px;
    }
    .temp-grid img{
        height: 380px;
    }
    .how-to{
        padding: 50px 100px;
    }
    .start-now{
        padding: 100px 100px;
    }
    .footer{
        padding: 100px 100px;
    }
    nav{
        padding: 20px 100px;
    }
    .main{
        padding: 100px 50px;
    }
    .main-temp .detForm{
        width: 50% ;
    }
    .main-temp .photo{
        width: 42% ;
    }
    .detForm .first-part .header h1{
        padding-right: 0px;
    }
    .rev-con{
        justify-content: space-between !important;
    }
    .rev-con .temps-grid{
        grid-template-columns: 1fr;
    }
    .rev-con .revphoto{
        width: 65%;
    }
    .rev-con .temps-grid img{
        height: 250px;
    }
}
@media (max-width: 1100px) {
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .about{
        padding: 50px 80px 0px;
    }
    .pic .resume{
    position: absolute;
    top: 10%;
    height: 90%;
    left: 30%;
    z-index: 1;
    
    }
    .pic .profile{
    position: absolute;
    z-index: 2; 
    height: 170px;
    top: 65%;
    left: 75%;
    }
    .pic .shadow{
    height: 350px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.175);
    filter: blur(10px);
    }
    .see-temp{
        padding: 250px 80px 70px;
    }
    .temp-grid img{
        height: 360px;
    }
    .how-to{
        padding: 50px 80px;
    }
    .start-now{
        padding: 100px 80px;
    }
    .footer{
        padding: 100px 80px;
    }
    nav{
        padding: 20px 80px;
    }
    .template img{
        height: 370px;
    }
    .template-grid{
        gap: 40px;
    }
    .main-temp .detForm{
        width: 47%;
    }
    .main-temp .photo{
        width: 45%;
    }
    .rev-con .revphoto{
        width: 70%;
    }
    .rev-con .temps-grid img{
        height: 200px;
    }
}
@media(max-width: 1050px){
    .temp-grid img{
        height: 350px;
    }
    .template img{
        height: 350px;
    }
    .template-grid{
        gap: 30px;
    }
    .con-temp .main-temp{
        padding: 50px;
    }
    .rev-con {
        gap: 0px !important;
    }

}
@media (max-width: 1000px){
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .about{
        padding: 50px 70px 0px;
        flex-direction: column;
        align-items: start;
        gap: 100px;
    }
    .info{
        width: 100%;
    }
    .pic{
        width: 50%;
        
    }
    .pic .resume{
    
    top: 10%;
    height: 100%;
    left: 30%;
    
    }
    .pic .profile{
   
    height: 200px;
    top: 65%;
    left: 78%;
    }
    .pic .shadow{
    height: 400px;
    width: 100%;
    position: relative;
    background-color: rgba(128, 128, 128, 0.175);
    }
    .see-temp{
        padding: 200px 70px 70px;
    }
    .temp-grid img{
        height: 330px;
    }
    .how-to{
        padding: 50px 70px;
    }
    .start-now{
        padding: 70px 70px;
    }
    .footer{
        padding: 100px 70px;
    }
    nav{
        padding: 20px 70px;
    }
    .template img{
        height: 320px;
    }
    .template-grid{
        gap: 20px;
    }
    .main-temp .detForm{
        width: 100%
    }
    .main-temp .photo{
        display: none;
    }
    body .rev-con{
        flex-direction: column;
        gap: 50px !important;
    }
    .rev-con .revphoto{
        width: 85%;
    }
}
@media(max-width: 970px){
    .temp-grid img{
        height: 300px;
    }
    .how-to h1{
        font-size: 40px;
    }
    .how-to > p{
        font-size: 20px;
    }
    .card p{
        font-size: 14px;
    }
}

@media(max-width: 900px){
    .pic{
        width: 60%;
    }
    .temp-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .temp-grid img{
        height: 450px;
    }
    .inner-div div{
        width: 60%;
    }
    .template img{
        height: 460px;
    }
    .template-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .rev-con .revphoto{
        width: 90%;
    }
}
@media(max-width: 890px){
    
    .temp-grid img{
        height: 420px;
    }
    .cards{
        gap: 20px;
    }
    .template img{
        height: 450px;
    }
}
@media(max-width: 830px){
    .inner-div div{
        width: 50%;
    }
    .rev-con .revphoto{
        width: 95%;
    }
}
@media(max-width: 820px){
    
    .temp-grid img{
        height: 400px;
    }
    .cards{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    .card p{
        font-size: 18px;
    }
    .inner-div{
        flex-direction: column;
        gap: 50px;
    }
    .inner-div div{
        width: 100%;
    }
    .template img{
        height: 430px;
    }
}
@media(max-width: 800px){
    .pic{
        width: 70%;
    }
    .temp-grid img{
        height: 370px;
    }
    .see-temp h1{
        font-size: 35px
    }
    .how-to h1{
        font-size: 35px;
    }
    .inner-div div h1{
        font-size: 35px;
    }
    .template img{
        height: 400px;
    }
    .rev-con .revphoto{
        width: 100%;
    }
}
@media(max-width: 760px){
    .pic{
        width: 70%;
    }
    .temp-grid img{
        height: 350px;
    }
    .template img{
        height: 380px;
    }
    .rev-con .revtemp-des p{
        font-size: 10px;
    } 
    .rev-con .revtemp-des .yName{
        font-size: 20px;
    }
    .rev-con .revmain-in h6{
        font-size: 12px;
    }
    .rev-con .revphoto{
        width: 100%;
        min-height: 90vh;
        /* height: 200px; */
    }
    .rev-con .revtemp-des{
        min-height: 90vh;
    }
}
@media(max-width: 720px){
    .pic{
        width: 70%;
    }
    .temp-grid img{
        height: 330px;
    }
    .template img{
        height: 360px;
    }
}
@media(max-width: 700px){
    .about{
        padding: 50px 50px 0px;
    }
    .pic{
        width: 72%;
    }
    .see-temp{
        padding: 150px 50px 70px;
    }
    .how-to{
        padding: 50px 50px;
    }
    .start-now{
        padding: 70px 50px;
    }
    .footer{
        padding: 80px 50px;
    }
    nav{
        padding: 20px 50px;
    }
    .header h1{
        font-size: 35px;
    }
    .template img{
        height: 340px;
    }
    .con-temp{
        background-color: white !important;
        flex-direction: column;
        align-items: center;
    }
    .con-temp .side{
        display: none;
    }
    .con-temp .above{
        display: flex;
        padding: 50px 50px 0px;
    }
    .rev-con{
        padding: 50px !important;
    }
    
}
@media(max-width: 650px){
    
    .temp-grid img{
        height: 300px;
    }
    /* .info h1{
        font-size: 25px;
        line-height: 50px;
    } */
    .inner-div{
        padding: 30px;
    }
    .template img{
        height: 320px;
    }
    .con-temp .above{
        padding: 50px 120px 0px;
    }
    .rev-con .revmain-in{
        padding: 20px;
    }
    .rev-con .revside-in{
        padding: 13px;
    }
}
@media(max-width: 620px){
    .header h1{
        font-size: 30px;
    }
    .template img{
        height: 300px;
    }
    /* .con-temp .above{
        padding: 50px 120px 0px;
    } */
    .con-temp .above span{
        width: 55px;
    }

}
@media(max-width: 600px){
    .info h1{
        font-size: 40px;
        line-height: 50px;
    }
    .info p{
        width: 100%;
        padding-top: 20px;
        
    }
    .info a{
        margin-top: 50px;
    }
    .pic{
        width: 80%;
    }
    .temp-grid{
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 60px 0px;
    }
    .temp-grid img{
        height: 450px;
    }
    .see-temp h1{
        font-size: 28px;
    }
    .how-to h1{
        font-size: 28px;
    }
    .card h2{
        font-size: 20px;
    }
    .inner-div{
        padding: 20px;
    }
    .inner-div div h1{
        font-size: 25px;
    }
    .template-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .template img{
        height: 550px;
    }
    .main{
        padding: 50px 70px;
    }
    .main-temp .form .flex{
        flex-direction: column;
    }
    
    .detForm .first-part .header h1{
        font-size: 25px;
    }
    .detForm .first-part .add-text p{
        font-size: 16px;
    }
    .detForm .first-part .add-text span{
        font-size: 16px;
    }
    .rev-con{
        padding: 50px 30px !important;
    }
}
@media(max-width: 580px){
    .main{
        padding: 50px 50px;
    }
    .header h1{
        font-size: 25px;
    }
     .detForm .first-part .header {
        text-align: center;
        align-items: center;
        /* flex-direction: column; */

    }
    .detForm .first-part .header p{
        text-align: center;
        align-items: center;
        /* flex-direction: column; */

    }
}
@media(max-width: 545px){
    .pic .resume{
    position: absolute;
    top: 10%;
    height: 90%;
    left: 30%;
    z-index: 1;
    
    }
    .pic .profile{
    position: absolute;
    z-index: 2; 
    height: 170px;
    top: 65%;
    left: 75%;
    }
    .pic .shadow{
    height: 350px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.175);
    filter: blur(10px);
    }
    .temp-grid{
        
        padding: 0px 30px 0px;
    }
    .template img{
        height: 510px;
    }
    .main{
        padding: 50px 50px;
    }
    .detForm .first-part .form .buttons-continue{
        align-items: center;
        flex-direction: column;

    }
    .rev-con .revtemp-des p{
        font-size: 9px;
    } 
    .rev-con .revtemp-des .yName{
        font-size: 15px;
    }
    .rev-con .revmain-in h6{
        font-size: 10px;
    }
    .rev-con .revphoto{
        width: 100%;
        min-height: 80vh;
    }
    .rev-con .revtemp-des{
        min-height: 80vh;
    }
    .rev-con .revtemp-des .c-info{
        height: 12px;
    }
}
@media(max-width: 500px){
    /* .temp-grid{
        padding: 0px 10px 0px;
    } */
    .see-temp{
        padding: 150px 10px 70px;
    }
    .temp-grid{
        padding: 0px 40px 0px;
    }
    .card p{
        font-size: 15px;
    }
    .template img{
        height: 480px;
    }
    .header h1{
        text-align: center;
    }
    .header a{
        font-size: 15px;
    }
    
    .con-temp .above span{
        width: 40px;
    }
    .con-temp .above .sect{
        height: 35px;
        width: 35px;
    }
    .detForm .first-part .inimg{
        padding: 45px;
    }
}
@media(max-width: 470px){
    .about{
        padding: 50px 20px 0px;
    }
    .temp-grid{
        padding: 0px 30px 0px;
    }
    .how-to{
        padding: 50px 20px;
    }
    .start-now{
        padding: 50px 20px;
    }
    .footer{
        padding: 60px 20px;
    }
    nav{
        padding: 20px 20px;
    }
    nav .links{
        gap: 20px;
    }
    nav .links a{
        font-size: 14px;
    }
    nav .logo img{
        height: 28px;
    }
    .template img{
        height: 450px;
    }
    
}
@media(max-width: 450px){
    .pic .resume{
    position: absolute;
    top: 10%;
    height: 90%;
    left: 30%;
    z-index: 1;
    
    }
    .pic .profile{
    position: absolute;
    z-index: 2; 
    height: 150px;
    top: 62%;
    left: 72%;
    }
    .pic .shadow{
    height: 320px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.175);
    filter: blur(10px);
    }
    .info h1{
        font-size: 38px;
        line-height: 50px;
    }
    .temp-grid img{
        height: 400px;
    }
    .temp-grid{
        padding: 0px 45px 0px;
    }
    .template img{
        height: 400px;
    }
    .con-temp .main-temp{
        padding: 50px 20px;
    }
    .detForm .first-part .header{
        align-items: center;
        text-align: center;
    }
    .detForm .first-part .header p{
        text-align: center;
    }
    
}
@media(max-width: 400px){
    .info h1{
        font-size: 35px;
        line-height: 50px;
    }
    .pic{
        width: 90%;
    }
    .pic .resume{
    position: absolute;
    top: 10%;
    height: 85%;
    left: 30%;
    z-index: 1;
    
    }
    .pic .profile{
    position: absolute;
    z-index: 2; 
    height: 140px;
    top: 62%;
    left: 72%;
    }
    .pic .shadow{
    height: 300px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.175);
    filter: blur(10px);
    }
    .temp-grid{
        padding: 0px 20px 0px;
    }
    .temp-grid img{
        height: 400px;
    }
    .foot1{
        flex-direction: column;
        gap: 50px;
    }
    .template img{
        height: 370px;
    }
    .header h1{
        font-size: 20px;
    }
    
}
@media(max-width: 380px){
    .info h1{
        font-size: 35px;
        line-height: 50px;
        
    }
    .template img{
        height: 330px;
    }
    
}
@media(max-width: 363px){
    .info h1{
        font-size: 30px;
        line-height: 40px;
        
    }
    .temp-grid img{
        height: 350px;
    }
    .card{
        padding: 10px;
    }
    .card p{
        font-size: 13px;
    }
    .template img{
        height: 380px;
    }
    .main{
        padding: 50px 20px;
    }
    .con-temp .above{
        /* display: grid;
        grid-template-columns: auto auto auto;
        align-items: center; */
        gap: 20px;
        /* flex-wrap: wrap; */
    }
    .con-temp span{
        display: none;
    }
    .detForm .first-part .add-photo{
        flex-direction: column;
    }
    .detForm .first-part .add-text{
        align-items: center;
    }
    .detForm .first-part .add-text .photo-add::before{
        content: 'Add photo';
        font-size: 15px;
        color: grey;
        
    }
}
@media(max-width: 330px){
    
    .temp-grid img{
        height: 300px;
    }
    .foot2 {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .pic .shadow{
        height: 270px;
    
    }
    .template img{
        height: 350px;
    }
}
@media(max-width: 310px){
    .temp-grid {
        padding: 0px 0px 0px;
    }
    .template img{
        height: 320px;
    }
    .con-temp .above{
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        gap: 20px;
    }
}